In [4]:
# function parameter and arguments
def multiply_by_num(x,y,z=2):
    return (x+y)*z

In [14]:
multiply_by_num(3,1)
multiply_by_num(1,y=2)
multiply_by_num(y=2,x=1)
multiply_by_num(1,2,5)
multiply_by_num(x=1,y=1,z=8)
multiply_by_num(z=2,y=9,x=1)

20

In [29]:
#arbitrary arguments - parameter name will be *agrs means n>=0 number of argumnets : read as tuple
def sum(x,y,*num):
    sum=0
    for i in num:
        sum+=i
    return x+y+sum

In [37]:
sum(2,1,6,7)
sum(x=1,y=7)
# sum(x=1,y=1,num=6)
sum(x=1,y=1)

2

In [55]:
#**kargs parameter name will be kargs contains n>=0 number of key=value :read as dictionary
dict1={"name":"Swati","age":24}
def employee(name,age,**kargs):
    dict1.update(kargs)
    dict1.update({"name":name,"age":age})

In [56]:
employee(name="Swati Mehta",age=25,city="Patna")

print(dict1)

{'name': 'Swati Mehta', 'age': 25, 'city': 'Patna'}

In [60]:
def is_prime(x):
    if x==1:
        return False
    if x==2:
        return True
    for i in range(2,x):
        if x % i == 0:
            return False
    return True

In [84]:
l2=[i for i in range(2,30) if is_prime(i)]
print(l2)
def count_sexy_prime(list1):
    count=0 #6
    for i in range(len(list1)):
        # i=0,1,2,3,4,5,6,7,8,9
        for j in range(i+1,len(list1)):
            # i=9
            # j=10
            if list1[i]-list1[j]==6 or list1[i]-list1[j] == -6:
                count=count+1 #count=1+1+1+1+1+1
                break
    return count

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

In [85]:
print(count_sexy_prime(l2))

6

In [86]:
def count_pair(x,y):
    count=0
    for i in range(x,y+1):
        if (i+6)<=y and is_prime(i) and is_prime(i+6):
            count=count+1
    return count

In [88]:
count_pair(2,30)

6

In [93]:
import pickle 
with open("student.json","ab+") as file:
    student_data={
        "name":"swati",
        "age":24
    }
    pickle.dump(student_data, file)

In [112]:
# with open("student.json","rb") as file:
with open("employee_data.txt","rb") as file1:
    data=pickle.load(file1)
    print(type(data))
    print(data)

<class 'dict'>
{'name': 'Swati', 'age': 24}

In [117]:
import time
with open("employee_data.txt","ab+") as file1:
    data={"name":"Swati","age":24}
    pickle.dump(data,file1)
    data={"name":"SwatiM"}
    pickle.dump(data,file1)
    time.sleep(5)
with open('employee_data.txt', 'rb') as f:
    data = pickle.load(f)
    print(data)

print("data added")
    # data={"name":"Mehta"}
    # pickle.dump(data,file1)
    # data=pickle.load(file1)

{'name': 'Swati', 'age': 24}
data added